* {
  margin: 0;
  padding: 0;
  font-family: arial;
  letter-spacing: 4px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */ }

html {
  cursor: url(../res/cursor.png), auto; }

a {
  color: #BB2A2A;
  text-decoration: none; }

a:hover {
  cursor: url(../res/cursor-pointer.png) 16 0, auto;
  text-decoration: underline; }

.button {
  background-color: #BB2A2A;
  color: white;
  padding: 5px 25px;
  border: none;
  font-size: 24px; }

.button:hover {
  background-color: #a62525;
  cursor: url(../res/cursor-pointer.png) 16 0, auto; }

body {
  background-color: #2A3C40; }

form#login {
  background-color: #0D0D0D;
  color: #cccccc;
  width: 400px;
  padding: 50px 80px;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -280px;
  margin-top: -265px;
  border-top: solid 10px #BB2A2A; }
  form#login div#error {
    color: #BB2A2A; }
  form#login img#securoserv-logo {
    width: 180px;
    position: relative;
    left: 50%;
    margin-left: -90px;
    margin-bottom: 20px; }
  form#login div.inner-wrapper {
    float: right; }
    form#login div.inner-wrapper span {
      margin-right: 5px; }
    form#login div.inner-wrapper input.textfield {
      background-color: #191919;
      border: none;
      color: white;
      width: 230px;
      font-size: 18px;
      padding: 7px; }
  form#login p#version-number {
    font-size: 18px;
    color: #999999;
    letter-spacing: 0;
    position: absolute;
    left: 80px;
    bottom: 50px;
    margin-bottom: 0; }
  form#login p {
    text-align: center;
    margin-bottom: 30px; }
  form#login #register-link {
    font-size: 15px;
    letter-spacing: 0;
    text-align: right;
    padding-bottom: 0;
    margin-bottom: 0; }
  form#login input#login-button {
    float: right;
    margin-top: 30px;
    letter-spacing: 0; }

@media only screen and (max-width: 1080px) {
  form#login {
    padding: 0 !important;
    border-top: solid 20px #BB2A2A;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    font-size: 30px !important; }
    form#login span {
      display: none !important;
      position: absolute !important; }
    form#login p {
      padding-bottom: 20px !important; }
    form#login .inner-wrapper {
      width: 90% !important;
      margin: -15px auto !important;
      padding: 0 !important;
      float: none !important; }
      form#login .inner-wrapper .textfield {
        width: 100% !important;
        margin: 0 !important;
        padding: 40px 20px !important;
        margin-left: -20px !important; }
    form#login #register-link {
      font-size: 40px !important;
      padding: 40px !important;
      margin-top: 30px !important; }
    form#login input#login-button {
      float: none !important;
      position: fixed !important;
      bottom: 0 !important;
      left: 0 !important;
      width: 100% !important;
      padding: 60px 0 !important; }
    form#login #version-number {
      bottom: 210px !important; }
    form#login * {
      font-size: 30px !important; }
    form#login img#securoserv-logo {
      width: 250px !important;
      margin-left: -125px !important;
      margin-top: 40px !important; }
    form#login div#error {
      text-align: center !important;
      margin-top: 40px !important; } }

/*# sourceMappingURL=login.css.map */
